/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Ashley Ho and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing March 2022 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/lavendar_bg.jpg)
	center center fixed no-repeat;
	background-size: cover;
	
	
}

.center {
    width: 60%; /* added this to make div responsive */
	max-width: 700px;
	padding: 2%;
    margin: 100px auto;
	border-radius: 30px 30px; /* this made the corners of the rectangle curved */
 	background: rgba(208, 191, 255, 0.50); /*this uses opacity of 50% for the background color*/
	text-align: center;
	border: 4px solid white;
}

   
#logo {
    margin-bottom: 40px;
	margin-top: 40px;
	width: 30%;
	height:auto;
	/*removed border: 3px solid white;
	*/
	text-align: center;
}

h1 {
	font-family: lust-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: black;
}

h2 {
	 font-family: lust-sans, sans-serif;
	 font-weight: 400;
	 font-style: normal;
	 font-size: 1.5em;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: lust-sans, sans-serif;
	font-weight: 400;	
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
    color: black;

/* testing out fading in and out */
	animation: fadeIn ease 6s;
	-webkit-animation: fadeIn ease 6s;
	-moz-animation: fadeIn ease 6s;
	-o-animation: fadeIn ease 6s;
	-ms-animation: fadeIn ease 6s;
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}    
@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
nav{
	font-family: lust-sans, sans-serif;
	font-weight: 400;	
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
	width: 400px;
	margin: 0 auto;
	border:solid white;
	border-width: 3px 3px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
	}

nav li{
	display: inline;
	}

nav a{
	display:inline-block;
	padding: 10px;
	}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: rgb(255, 255, 255);
	background: rgb(200, 175, 224,0.80);
	transform:scale(1.05, 1.05);
	border-radius: 10px;
	}